#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  width: 350px;
  padding: 15px;
  border-radius: 8px;
  border: none;
}

#submit {
  width: 380px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #117554;
  cursor: pointer;
  transition: background-color 0.3s;
}

#submit:hover {
  background-color: #119854;
}
